<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='assets/apple-icon-180x180.png')}}">
  <link href="{{url_for('static', filename='image.jpg')}}" rel="icon">

  <title>Projects</title>  

<link href="{{url_for('static', filename='main.3f6952e4.css')}}" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./skills.html" title="">02 : Skills</a></li>
          <li><a href="./experience.html" title="">03 : Experience</a></li>
          <li><a href="./works.html" title="">04 : Projects</a></li>
          <li><a href="./about.html" title="">05 : About me</a></li>
          <li><a href="./contact.html" title="">06 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">04 : Projects</h1>
          <h3><p><b>The best way to predict the future is to create it...</b></p></h3>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>Flectra </h3>
                        <p>Flectra is a free ERP software that integrates and manages core business operations for companies, centralizing financials, inventory, customer information, and more. It offers customizable features, allowing for cost-effective implementation. With successful installations worldwide, it achieves operational efficiency and visualizes management information.</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/006</h4>
                        <h3>Inventory Management</h3>
                        <p>The inventory management system empowers administrators to seamlessly handle product addition, editing, and removal. Moreover, administrators can analyze data encompassing inventory and sales, enabling them to generate reports as necessary. Additionally, the system offers functionality for creating accounts.</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/006</h4>
                        <h3>Online Shopping</h3>
                        <p>A net shopping system is a platform designed to enable online purchasing of goods. Administrators have the capability to add, edit, and remove products, while consumers benefit from the convenience of easily selecting and purchasing items from their homes or offices.</p>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./static/assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Advertising</h3>
                      <p>The "Advertising Campaign Management Development" project involves developing a system to visually display various reports related to advertising expenses using graphs, and facilitating output to Google Slides.</p>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>SEO</h3>
                        <p>The "Search engine optimization (SEO)  Consulting Platform" serves as a comprehensive solution, offering effective SEO strategies to help users ensure their websites achieve top-ranking positions on Google's search engine results pages.
                        </p>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>Portfolio</h3>
                        <p> a portfolio is a curated collection of projects and work that showcases their skills, experience, and abilities in software development. </p>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>
    <!--/myCarousel-->
    </div>
    </div>
  </div>
</div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <p class='text-center py-1 my-0'>
        Made with ❤ by Zin Thandar Htun | <a href="https://machinelearningprojects.net/" style="color: black;text-decoration: auto;">Machine Learning Projects</a>
    </p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="{{url_for('static', filename='main.70a66962.js')}}"></script></body>

</html>